<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirigir todo a la carpeta public, excepto si ya apunta a public
    # Usamos una expresión regular negativa (?!public/) para evitar bucles infinitos
    # de forma segura en subdirectorios.
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
